<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Document</title>
</head>
<body style="background-color:#f7fafc">
    <div id="whole">
    <p id="headtext">Emojify</p>
    <form action="{{ url }}" method="Post">
        <input id="input_box" type="text" value="{{ value }}" name="transform">
        <input id="submit" type="submit" value="Emojify" name="Emojify">
    </form>
</div>
</body>
</html>